.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}

.nav-menu li {
    display: block;
    position: relative;
    padding: 0.2em 0;
}


.nav-menu li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background: linear-gradient(135deg, orange 60%, cyan);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.nav-menu li:hover::after,
.nav-menu li:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.underline {
    text-decoration: underline;
    background: linear-gradient(135deg, orange 60%, cyan);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
    transform: scale(1.18);
}

.noUnderline {
    text-decoration: none;
}

.nav-connect {
    padding: 10px 35px;
    border-radius: 50px;
    background: linear-gradient(135deg, orange 60%, cyan);
    color: black;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

/* Responsive section */

@media(max-width: 769px) {
    .navbar {
        margin: 20px 50px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #04233d;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -500px;
    }

    .nav-menu li {
        font-size:  30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}